body {
	margin:0;
  /*min-height: 2000px;*/
}

.navbar-static-top {
  margin-bottom: 19px;
}

.container{
	text-align: center;
}

/*.tryborder{
	width: 50px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}*/

/*Textarea not resizeable*/
textarea {
	resize:none
}
