{% extends "layout/base.html" %}
{% load staticfiles %}


{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/statistic.css' %}" />
{% endblock %}


{% block content %}
<div id="page_title"><b><i>Statistic</i></b></div>
<hr/>
<div class="center_screen">
    <div id = "sameline1">
        <img src=https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/1200px-Anonymous_emblem.svg.png alt="Hepzibah Smith" width="180" height="180" style="border-radius: 50%">
    </div>
    <div id = "sameline2">
        <a href="{% url 'profile-page:index' %}">{{name}}</a>
        <div id = "birthdate">Born on {{birthday}}</div>
        <div id = "email">{{email}}</div>
    </div>
    <br>
    <div id = "sameline3">
        <a href="#">Friends</a>
        <p><b>{{friends}}</b> People</p>
    </div>
    <div id = "sameline4">
        <a href="{% url 'status:index' %}">Feeds</a>
        <p><b>{{feeds}}</b> Post</p>
    </div>

    <h4>Latest Post</h4>
    <div id = "last_">
        {{last_feed}}
    </div>



</div>

{% endblock %}
