.center_screen {
    margin-top: 0px;
    margin-left: 420px;
}


#birthdate {
    font-size: 18px;
}

#email {
    font-size: 20px;
}

#sameline1 {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 40px;
}

#sameline2 {
    display: inline-block;
    margin-bottom: 40px;
    font-size: 42px;
}

#sameline3 {
    display: inline-block;
    margin-right: 260px;
    margin-bottom: 30px;
    font-size: 22px;
}

#sameline4 {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 22px;
}

#last_feed {
    font-size: 22px;

}

