.center_screen {
    margin-top: 0px;
    margin-left: 390px;
    margin-bottom: 100px;
    width: 680px;
}


#birthdate {
    font-size: 18px;
}

#email {
    font-size: 20px;
}

#sameline1 {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 40px;
}

#sameline2 {
    display: inline-block;
    margin-bottom: 40px;
    font-size: 42px;
}

#sameline3 {
    display: inline-block;
    margin-right: 260px;
    margin-bottom: 30px;
    font-size: 22px;
}

#sameline4 {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 22px;
}

#mini_prof_pic {
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
}

#last_feed {
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
}

#last_feed_timestamp {
    font-size: 12px;
    margin-left: 70px;
}

@media only screen and (max-width: 767px) {
    #sameline1 {
        margin-right: 50px;
        margin-bottom: 40px;
    }

    #sameline2 {
        margin-bottom: 40px;
        font-size: 42px;
    }

    #sameline3 {
        margin-right: 260px;
        margin-bottom: 30px;
        font-size: 22px;
    }

    #sameline4 {
        margin-bottom: 30px;
        font-size: 22px;
    }
}

