.center_screen {
    margin-top: 10px;
    margin-left: 420px;
}

#page_title {
    margin-top: 15px;
    margin-left: 200px;
    font-size: 30px;
}


#sameline1 {
    display: inline-block;
    margin-right: 50px;

}

#sameline2 {
    display: inline-block;

}

#sameline3 {
    display: inline-block;
    width: 200px;
    margin-right: 20px;
}

#sameline4 {
    display: inline-block;

}


