{% extends "layout/base.html" %}
{% load staticfiles %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_page.css' %}" />
{% endblock %}

{% block content %}
<div id="page_title"><b><i>Profile Page</i></b></div>
<hr/>
<div name = "profile" align=center>
    <p>
        <img src=https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/1200px-Anonymous_emblem.svg.png alt="Hepzibah Smith" width="150" height="150" style="border-radius: 50% ">
        <h3>
            {{author}}
        </h3>
    </p>

</div>

<div name="birthday">

    Birthday    : {{birthday}}

</div>

<div name="gender" id="makeitcentre">

    Gender      : {{gender}}

</div>

<div name="expertise">

    Expertise   : {{expertise}}

</div>

<div name="description">

    Description : {{description}}

</div>

<div name="email">

    Email       : {{email}}

</div>


{% endblock %}
