{% extends "profile_page/layout/base.html" %}

{% block content %}
<h1>Profile</h1>
<hr/>
<section name = "profile" align=centre>
    <p>
        <img src=https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/1200px-Anonymous_emblem.svg.png alt="Hepzibah Smith" width="150" height="150" style="border-radius: 50% ">
        <h3>
            {{author}}
        </h3>
    </p>
    
</section>
<section name="birthday">
    <pre>
        birthday    : {{birthday}}
    </pre>    
</section>

<section name="gender">
    <pre>
        gender      : {{gender}}
    </pre>    
</section>

<section name="expertise">
    <pre>
        expertise   : {{expertise}}
    </pre>    
</section>

<section name="description">
    <pre>
        description : {{description}}
    </pre>    
</section>

<section name="email">
    <pre>
        email       : {{email}}
    </pre>    
</section>


{% endblock %}
