{% extends "layout/base.html" %}
{% load staticfiles %}


{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/update_status.css' %}" />

{% endblock %}


{% block content %}
<div id="page_title"><b><i>Add Friend</i></b></div>
<hr/>
  <form id="form" method="POST" action="{% url 'status:update_status' %}"}>
      {% csrf_token %}
      {{ status_form }}
      <input id="submit" type="submit" value="Tweet">
  </form>
</section>
<section>
  <h2>My Status</h2>
  {% if status %}
  {% for data in status %}
    <div>
      <img src=https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/1200px-Anonymous_emblem.svg.png alt="Hepzibah Smith" width="150" height="150" style="border-radius: 50% ">
      <div>
        {{name}}
      </div>
    </div>
    <div>
      <div>
        {{data.status}}
      </div>
        {{data.created_date}}
      </div>
    </div>
  {% endfor %}
  {% else %}
    <div class="alert alert-danger text-center">
        <strong>Sorry!</strong> You haven't updated your status.
    </div>
  {% endif %}

</section>
{% endblock %}
